<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WFPWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.19.157/Modules/EleWise.ELMA.Workflow.Processes.Web/WFPWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WFPWebServiceSoap"
                contract="ELMA_SOAP.WFPWebServiceSoap" name="WFPWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>